.custom-border {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}

.round-delete-button {
    border-radius: 70%;
}

#listContainer {
    position: absolute;
    top: 0;
    right: 0;
}

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*}*/

/*button {*/
/*    margin-top: 10px;*/
/*}*/

/*.completed {*/
/*    text-decoration: line-through;*/
/*    color: gray;*/
/*}*/

/*.checkbox-item {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.checkbox-item input[type="checkbox"] {*/
/*    display: none;*/
/*}*/

/*.checkbox-slider {*/
/*    width: 50px;*/
/*    height: 26px;*/
/*    background-color: #ccc;*/
/*    border-radius: 13px;*/
/*    position: relative;*/
/*    margin-right: 10px;*/
/*}*/

/*.checkbox-slider:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 2px;*/
/*    left: 2px;*/
/*    width: 22px;*/
/*    height: 22px;*/
/*    background-color: #fff;*/
/*    border-radius: 50%;*/
/*    transition: transform 0.2s ease-in-out;*/
/*}*/

/*.checkbox-item input[type="checkbox"]:checked + .checkbox-slider:before {*/
/*    transform: translateX(24px);*/
/*}*/

/*.checkbox-item span {*/
/*    flex-grow: 1;*/
/*}*/

/*.checkbox-item button {*/
/*    margin-left: 10px;*/
/*}*/
