<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!-- Remove the container if you want to extend the Footer to full width. -->
<div th:fragment="footer" class="container mt-5">
    <!-- Footer -->
    <footer class="text-center text-white bg-transparent ">
        <!-- Grid container -->
        <div class="container">


            <hr style="color: #07575b" class="my-3"/>

            <!-- Section: Text -->


        <!-- Copyright -->
        <div style="color: #07575b" class="text-center px-3">© 2023 Field Trip</div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
</body>
</html>