<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/header">
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
<nav th:insert="partials/navbar"></nav>
<div class="card">
    <h1 class="card-header text-center">Edit My Profile</h1>
    <div class="card-body">
        <form class="d-flex flex-column align-items-center" th:action="@{/profile/edit}" method="POST">
            <div class="d-flex justify-content-around flex-column">
                <div>
                    <label for="username">Username</label>
                    <input id="username" name="username" th:value="${user.getUsername()}"/>
                </div>
                <div>
                    <label for="username">First Name</label>
                    <input id="firstname" name="firstname" th:value="${user.getFirstName()}"/>
                </div>
                <div>
                    <label for="lastname">Last Name</label>
                    <input id="lastname" name="lastname" th:value="${user.getLastName()}"/>
                </div>
                <div class="mx-3">
                    <label for="email">Email</label>
                    <input id="email" name="email" th:value="${user.getEmail()}"/>
                </div>
                <div class="mx-3">
                    <input type="hidden" id="imageUrl" name="imageUrl" th:value="${user.getImage()}"/>
                </div>

                <div>
                    <p>Password: <span><a th:href="@{/profile/password}"> Change Password</a></span></p>
                </div>


                <img id="uploadedImage" th:src="${user.getImage()}" class="img-fluid rounded-circle" alt="Profile Picture" style="width:100px;">


                <div>
                    <button type="button" class="upload">Change Profile Image</button>
                </div>


            </div>
            <button class="save-changes">Save Changes</button>
        </form>
    </div>
</div>
<script src="/js/filestack.js"></script>
<script>

    window.addEventListener('DOMContentLoaded', function () {
        const button = document.querySelector('.upload')
        const image = document.getElementById('uploadedImage'); // Use the ID to select the image element
        let uploadedImageUrl; // Variable to store the uploaded image URL

        button.addEventListener('click', () => {
            const apiKey = 'A87r7oKaT6i0PJ9UGEci7z'
            const client = filestack.init(apiKey);
            client.picker().open();
            const options = {
                onUploadDone: (uploadResponse) => {
                    console.log('onUploadDone', uploadResponse)
                    uploadedImageUrl = uploadResponse.filesUploaded[0].url; // Store the uploaded image URL
                    image.setAttribute('src', uploadedImageUrl);
                    document.getElementById('imageUrl').value = uploadedImageUrl; // Set the input field's value
                    console.log(uploadedImageUrl);
                }

            };

            client.picker(options).open();
        });

        // event listener for the "Save Changes" button
        const saveChangesButton = document.querySelector('.save-changes');
        saveChangesButton.addEventListener('click', () => {
            if (!uploadedImageUrl) {
                console.log('Please upload an image before saving changes.');
                event.preventDefault(); // Prevent form submission if image is not uploaded
            }
        });
    });

</script>

</body>


</html>