<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/header">
    <title>Login</title>
</head>
<body>
<nav th:insert="partials/navbar"></nav>
<div class="card">
    <h1 class="card-header text-center">Login!</h1>
    <div class="card-body ">
        <form class="d-flex flex-column align-items-center" th:action="@{/login}" method="post">
            <div class="d-flex justify-content-around">
                <div class="mr-2">
                    <label for="username">Username</label>
                    <input id="username" name="username" type="text"/>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password"/>
                </div>
            </div>
            <input class="mt-2" type="submit" value="Log In"/>
        </form>

    </div>
</div>
</body>
</html>