<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="partials/header">
  <meta charset="UTF-8">
  <title>Change Password</title>
</head>
<body>
<nav th:insert="partials/navbar"></nav>
<div class="card">
  <h1 class="card-header text-center">Change Password</h1>
  <div class="card-body">
    <form class="d-flex flex-column align-items-center" th:action="@{/profile/password}" method="POST">
      <div class="d-flex justify-content-around flex-column">
        <div>
          <label for="oldpassword">Old Password</label>
          <input type="password" id="oldpassword" name="oldpassword"/>
        </div>
        <div>
          <label for="newpassword">New Password</label>
          <input type="password" id="newpassword" name="newpassword" />
        </div>
        <input class="mt-3" value="Save Changes" type="submit" />
    </form>
  </div>
</div>

</body>
</html>