.card {
    background-color: #dbd1b3;
    box-shadow: 10px 10px 10px gray;
    color: #c4dfe6;
    border-radius: 10px;
}

.card-fixed-size {
    height: 250px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* You can also set this to 'auto' or 'scroll' if you want to handle overflow differently */
}

