
.banner-container {
    display: flex;
    flex-direction: column;
    background: url("banner.jpeg");
    background-size: cover;
    height: 300px;
}

.unimaginable {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-bottom: auto;
    padding-left: 15px;
    padding-top: 5px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.popular-dest{
    display: flex;
    justify-content: center;
    font-family: 'playball', cursive;
    color: #07575b;
}

.ft {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #dbd1b3;
    font-family: playball, cursive;
    font-size: 79px;
}

.imagine {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 15px;
    padding-bottom: 0;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.imagine p  {
    margin-bottom: 0;
}

#travel-search {
    background-color: #003b46;
    margin-bottom: 48px;
}

#travel-search h2 {
    color: #dbd1b3;
}

#travel-search p {
    color: #dbd1b3;
}

#search-boxes input{
    background-color: #c4dfe6;
}

#search-boxes button {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3 ;
}

.col-lg-4 {
    display: flex;
}

#pop-dest {
    margin-top: 24px;
}

#pop-dest .btn {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3;
}

#france, #new-york, #brazil {
    display: flex;
    flex-direction: column;
    background-color: #003b46;
    color: #dbd1b3;
}

#test-one {
    background-color: #003b46;
    color: #dbd1b3;
}

#test-two {
    background-color: #003b46;
    color: #dbd1b3;
}
#test-three {
    background-color: #003b46;
    color: #dbd1b3;
}

#sign-up {
    background-color: #003b46;
    color: #dbd1b3;
}

#sign-up input {
    background-color: #C4DFE6;
}

#sign-up button {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3;
}

.col-md-3{
    background: #003B46;
    color: #DBD1B3;
    display: flex;
    justify-content: space-between;
    border: 1px solid #DBD1B3;
}

.col-md-3 span svg{
    margin: 10px;
}


