
.banner-container {
    display: flex;
    flex-direction: column;
    background: url("bannerfotage.mp4");
    background-size: cover;
    height: 300px;
}

.unimaginable {
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-bottom: auto;
    padding-left: 15px;
    padding-top: 5px;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.popular-dest{
    display: flex;
    justify-content: center;
    font-family: 'Nobile', sans-serif;
    font-size: larger;
    color: #07575b;
}

.ft {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    color: #dbd1b3;
    font-family: 'Nobile', sans-serif;
    font-size: 100px;
}

.imagine {
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 0;
    padding-right: 15px;
    padding-bottom: 0;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 30px;
    font-weight: bolder;
}

.imagine p  {
    margin-bottom: 0;
}

#travel-search {
    background-color: #003b46;
    margin-bottom: 48px;
}

#travel-search h2 {
    color: #dbd1b3;
}

#travel-search p {
    color: #dbd1b3;
}

#search-boxes input{
    background-color: #c4dfe6;
}

#search-boxes button {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3 ;
}

.col-lg-4 {
    display: flex;
}

#pop-dest {
    margin-top: 24px;
}

#pop-dest .btn {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3;
}

#france, #new-york, #brazil {
    display: flex;
    font-family: 'Nobile', sans-serif;
}


#test-one {

    color: #003b46;
}

#test-two {
    color: #003b46;
}
#test-three {
    color: #003b46;
}

#sign-up {
    background-color: #003b46;
    color: #dbd1b3;
    border-radius: 10px;
}

#sign-up input {
    background-color: #C4DFE6;
}

#sign-up button {
    background-color: #003b46;
    color: #dbd1b3;
    border: 1px solid #dbd1b3;
}

.col-md-3{
    color: #003B46;
}

.col-md-3 span svg{
    margin: 10px;
}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0.9;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

.overlay-content {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(6, 56, 82, 0.5);
    width: 100vw;
    height: 100vh;
}

#landing-logo {
    opacity: 0.5;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

#landing-button{
    opacity: 0.85;
    border: 2px solid #DBD1B3;
}

#logo-name{
    text-align: center;
    opacity: 0.9;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}

 ::-webkit-scrollbar {
     width: 15px;
 }

::-webkit-scrollbar-track {
    background-color: transparent; /* Make the track transparent */
}
::-webkit-scrollbar-thumb {
    background-color: transparent;; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 136, 136, 0.5);; /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}
::-webkit-scrollbar-corner {
    background-color: transparent; /* Make the scrollbar corner transparent */
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: transparent; /* Make the horizontal thumb transparent */
    width: 6px; /* Set the width of the horizontal thumb */
}
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: rgba(136, 136, 136, 0.5); /* Make the horizontal thumb transparent */
    width: 6px; /* Set the width of the horizontal thumb */
}
