.custom-border {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
.completed {
    text-decoration: line-through;
    color: gray;
}

.round-delete-button {
    border-radius: 70%;
    margin-left: auto;
    margin-top: 4px;
}

#listContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.weather-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    width: 200px;
}





#listItems {
    list-style-type: none;
}

#listItems li {
    border-bottom: 1px solid black; /* Change 'black' to any color you prefer */
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky-top {
    position: sticky;
    top: 0;
    z-index: 1030;
    width: 100% !important;
    text-align: center;
}

.parent-container {
    width: 100%;
}

.scrollable-container {
    height: 100px; /* Adjust based on your requirements */
    overflow-y: scroll; /* Add a vertical scrollbar */
}

#places tr {
    height: 25px; /* Adjust based on your requirements */
}

#weatherData .card {
    background-color: #003B46 !important;
}
