.main-card {
    background-color: #dbd1b3;
    box-shadow: 10px 10px 10px gray;
    color: #c4dfe6;
    border-radius: 10px;
}

.card-header {
    color: #003b46;
}

body {
    background-color: #C4DFE6;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

li {
    text-decoration: none;
    list-style: none;
    color: #003b46;
}

label {
    color: #003b46;
}

#editProfile {
    border: #003b46 1px solid;
    border-radius: 8px;
    background-color: transparent;
    color: #003b46;
    box-shadow: 2px 2px 2px gray;
}

#editItinBtn, #deleteItinBtn {
    border: #003b46 1px solid;
    border-radius: 8px;
    background-color: #dbd1b3;
    color: #003b46;
}

#itinCard{
    background-color: #003b46;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 6px 6px 6px gray;
}

h5, p {
    color: #dbd1b3;
}

#profileSection {
    width: 80%;
}

#myItin {
    width: 80%;
    background-color: transparent;
    border: none;
}

#planYourTrip {
    text-wrap: none;
}