<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="@{partials/header}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{../../static/css/stylesheet.css}">

</head>
<body style="background-color: #C4DFE6">
<nav th:insert="@{partials/navbar}"></nav>
<!-- Button trigger modal -->
<button type="button" class="d-none btn btn-primary sticky-top" data-bs-toggle="modal" data-bs-target="#weatherModal"
        id="weatherButton">
    Show Weather
</button>


<!-- Modal -->
<div class="modal fade" id="weatherModal" tabindex="-1" aria-labelledby="weatherModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="weatherModalLabel">Historical Weather</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="weatherData"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row">
        <form th:action="@{'itinerary/create'}" th:method="POST" th:object="${itinerary}" id="submit-form">


            <!-- Hidden input field for destination address -->
            <div class="d-none" id="destinationContainer"></div>
            <!-- Start Search Bar -->

            <div class="card m-3">
                <div class="d-flex mt-3 mb-3">
                    <div class="col-4 m-1">
                        <input type="text" class="form-control"
                               id="autocomplete">
                    </div>
                    <select class="form-select" id="type">
                        <option id="tourist_attraction" value="tourist_attraction">Attractions</option>
                        <option id="aquarium" value="aquarium">Aquarium</option>
                        <option id="art_gallery" value="art_gallery">Art Gallery</option>
                        <option id="amusement_park" value="amusement_park">Amusement Parks</option>
                        <option id="bar" value="bar">Bars</option>
                        <option id="casino" value="casino">Casino</option>
                        <option id="night_club" value="night_club">Clubs</option>
                        <option id="museum" value="museum">Museums</option>
                        <option id="restaurant" value="restaurant">Restaurants</option>
                        <option id="stadium" value="stadium">Stadiums</option>
                        <option id="zoo" value="zoo">Zoo</option>
                    </select>
                    <div class="col-2 m-1">
                        <input type="date" class="form-control" name="startDate" th:field="*{startDate}">
                    </div>
                    <div class="col-2 m-1">
                        <input type="date" class="form-control" name="endDate" th:field="*{endDate}">

                    </div>
                </div>
                <div class="d-none" id="map"></div>
                <div class="col-12 d-flex justify-content-center mb-2">
                    <input type="text" placeholder="Itinerary Name" class="form-control col-8" name="itineraryName"
                           th:field="*{name}">
                </div>
                <button type="button" id="createItinerary" class="btn btn-primary">Create Itinerary</button>
            </div>

            <!-- Packing List Container (Left Side) -->



            <div class="row">
                <div class="col-lg-6">
                    <div class="container p-4">
                        <div id="listContainer" class="row d-flex flex-wrap justify-content-around"></div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="border p-4">
                        <h1>Packing List</h1>
                        <div class="row d-flex">
                            <div class=" col-12 mb-3">
                                <label for="listSelection">Click Here to Select a Packing List:</label>
                                <select id="listSelection" class="form-control">
                                    <option value="0">Choose a Packing List</option>
                                    <option value="1">Summer Destination</option>
                                    <option value="2">Beach Destination</option>
                                    <option value="3">Ski Destination</option>
                                    <option value="4">Romantic Destination</option>
                                    <option value="5">Winter Destination</option>
                                    <option value="6">Sightseeing Destination</option>
                                    <option value="7">Nature Destination</option>
                                    <option value="8">International Destination</option>
                                </select>
                            </div>
                            <div>
                                <ul id="listItems">
                                    <li th:each="checklistItem, itemStat : *{checklist.checklistItems} ">
                                        <input type="hidden" class="item-id"
                                               th:field="*{checklist.checklistItems[__${itemStat.index}__].id}"/>
                                        <input id="itemInput" type="text" class="item-name"
                                               th:field="*{checklist.checklistItems[__${itemStat.index}__].itemName}"/>
                                    </li>
                                </ul>
                            </div>
                            <div class="justify-content-end col-12">
                                <button type="button" id="add-button" class="btn btn-primary col-3">Add Item</button>
                            </div>
                            <div class="mb-3 col-12">

                                <label for="listNameInput" class="form-label">List Name:</label>
                                <input type="hidden" th:field="*{checklist.id}"/>
                                <input type="text" class="form-control" id="listNameInput"
                                       placeholder="Name Your Custom List" name="checklistName"
                                       th:field="*{checklist.name}">
                            </div>
                            <!-- Add more list items here -->

                        </div>
                    </div>
                </div>
                <!-- END Packing List Container -->



            </div>
<!--End row-->


        </form>


    </div>
    <table class="container d-flex flex-wrap justify-content-center" id="places"></table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <script th:src="@{../js/keys.js}"></script>
    <script th:src="@{../js/todo_list.js}"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnkBw-ty2Q-L-8qaeR00yYBbtdZc1xI1A&libraries=places&callback=initMap">
    </script>

</div>
<footer th:insert="partials/footer"></footer>
</body>
</html>



