<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="@{partials/header}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{../../static/css/stylesheet.css}">
</head>
<body>
<nav th:insert="@{partials/navbar}"></nav>
<div class="container mt-5">
    <div class="row">
        <!-- Packing List Container (Left Side) -->
        <form th:action="@{itinerary/create}">
            <div class="col-6">
                <div class="border p-4">
                    <h1>Packing List</h1>
                    <div class="row d-flex">
                        <div class=" col-12 mb-3">
                            <label for="listSelection">Click Here to Select a Packing List:</label>
                            <select id="listSelection" class="form-control">
                                <option value="0">Choose a Packing List</option>
                                <option value="1">Summer Destination</option>
                                <option value="2">Beach Destination</option>
                                <option value="3">Ski Destination</option>
                                <option value="4">Romantic Destination</option>
                                <option value="5">Winter Destination</option>
                                <option value="6">Sightseeing Destination</option>
                                <option value="7">Nature Destination</option>
                                <option value="8">International Destination</option>
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <input type="text" class="form-control" id="itemInput" placeholder="Type in a New Item">
                        </div>
                        <div class="justify-content-end col-12">
                            <button class="btn btn-primary col-3" onclick="addItem()">Add Item</button>
                        </div>

                        <!-- Button to save packing list -->
                        <div class="mb-3 col-12">
                            <label for="listNameInput" class="form-label">List Name:</label>
                            <input type="text" class="form-control" id="listNameInput"
                                   placeholder="Name Your Custom List">
                        </div>
                        <button class="btn btn-primary" onclick="saveList()">Save List</button>
                        <!-- Button to save packing list END -->
                        <ul id="itemList" class="list-group mt-3 col-12" style="list-style: none">
                            <!-- List items with delete buttons aligned to the right -->
                            <li class="list-group-item d-flex justify-content-flex-end align-items-right text-end">
                                Item 1
                                <button class="btn btn-danger" onclick="deleteItem(this)">Delete</button>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-flex-end text-end">
                                Item 2
                                <button class="btn btn-danger" onclick="deleteItem(this)">Delete</button>
                            </li>
                            <!-- Add more list items here -->
                        </ul>
                    </div>
                </div>
            </div>
            <!-- END Packing List Container -->

            <!-- Itinerary List Container (Right Side) -->
            <div class="col-lg-6">
                <div class="container p-4">
                    <div id="listContainer" class="row d-flex flex-wrap justify-content-around"></div>
                </div>
                <button class="d-none btn btn-primary" id="saveDestinationBtn" onclick="saveDestination()">Save
                    Destination
                </button>
                <!-- END Itinerary List Container -->
            </div>

            <!-- Start Search Bar -->
            <div class="card m-3">
                <div class="d-flex form-row justify-content-center mt-3 mb-3">
                    <div class="col-12 d-flex justify-content-center mb-2"><input type="text" placeholder="Itinerary Name" class="form-control col-8"></div>
                    <div class="col-2 m-1">
                        <select class="form-select" name="" id="type">
                            <option id="tourist_attraction" value="tourist_attraction">Attractions</option>
                            <option id="aquarium" value="aquarium">Aquarium</option>
                            <option id="art_gallery" value="art_gallery">Art Gallery</option>
                            <option id="amusement_park" value="amusement_park">Amusement Parks</option>
                            <option id="bar" value="bar">Bars</option>
                            <option id="casino" value="casino">Casino</option>
                            <option id="night_club" value="night_club">Clubs</option>
                            <option id="museum" value="museum">Museums</option>
                            <option id="restaurant" value="restaurant">Restaurants</option>
                            <option id="stadium" value="stadium">Stadiums</option>
                            <option id="zoo" value="zoo">Zoo</option>
                        </select>
                    </div>
                    <div class="col-3 m-1">
                        <input type="text" class="form-control" placeholder="Destination" id="autocomplete"
                               onclick="clearField()">
                    </div>
                    <div class="col-2 m-1">
                        <input id="startDateInput" type="date" class="form-control" placeholder="Start Date">
                    </div>
                    <div class="col-2 m-1">
                        <input id="endDateInput" type="date" class="form-control" placeholder="End Date">
                    </div>
                </div>
                <div class="d-none" id="map"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
        <table class="container d-flex flex-wrap justify-content-center" id="places"></table>

        <div id="weatherData"></div>



        <script th:src="@{../js/keys.js}"></script>
        <script th:src="@{../js/todo_list.js}"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnkBw-ty2Q-L-8qaeR00yYBbtdZc1xI1A&libraries=places&callback=initMap">
        </script>
    </div>
</div>
</body>
</html>



