<!DOCTYPE html>
<html>
<body>

<p>Change the text of the text field, and then click the button below.</p>

<div id="inputArea">
  Name: <input type="text" id="myText" value="">
</div>


<button type="button" onclick="myFunction()">Try it</button>

<p id="demo"></p>

<script>
  function myFunction() {


    // Adding new input field
    var newInput = document.createElement("input");
    newInput.type = "text";
    newInput.value = "";
    document.getElementById("inputArea").appendChild(document.createTextNode("Name: "));
    document.getElementById("inputArea").appendChild(newInput);
  }
</script>

</body>
</html>


function callback(results, status) {
$("#weatherButton").removeClass("d-none")
searchResults = results;
var container = document.getElementById('places');
if (status === google.maps.places.PlacesServiceStatus.OK) {
console.log(results)
for (let i = 0; i < results.length; i++) {
if (results[i].photos) {
let photoUrl = results[i].photos[0].getUrl();
container.innerHTML += `
<div class="card m-2 p-1 col-2 align-items-center m-0 rounded position-relative d-flex flex-column justify-content-between" id="${i}" style="background-color: #003b46; padding: 15px;">
  <a th:href="reviews/${results[i].place_id}">
    <img class="border border-4 rounded-circle mt-1" width = "80" height="80" src="${photoUrl}"/>
  </a>
  <div class="card-title text-center m-1 p-0" style="color: #dbd1b3; margin-bottom: 20px;">
    ${results[i].name}
  </div>
  <button id="${i}" type="button" class="btn btn-outline-success mb-2 p-1" onclick="addToItinerary(${i})" style="background-color: #dbd1b3; color: #003B46FF; border-color: #dbd1b3; width: 100%;">ADD</button>
</div>`;


} else {
let photoUrl = "src/main/resources/static/img/layer 1.png"

container.innerHTML += `
<div class="card m-2 p-1 col-2 align-items-center m-0 rounded position-relative d-flex flex-column justify-content-between" id="${i}" style="background-color: #003b46; padding: 15px;">
  <a th:href="reviews/${results[i].place_id}">
    <img class="border border-4 rounded-circle mt-1" width = "80" height="80" src="${photoUrl}"/>
  </a>
  <div class="card-title text-center m-1 p-0" style="color: #dbd1b3; margin-bottom: 20px;">
    ${results[i].name}
  </div>
  <button id="${i}" type="button" class="btn btn-outline-success mb-2 p-1" onclick="addToItinerary(${i})" style="background-color: #dbd1b3; color: #003B46FF; border-color: #dbd1b3; width: 100%;">ADD</button>
</div>`;


}
}
} else {
container.innerHTML = "<div class='card m-4 col text-center align-items-center' style='background-color: #D9D0B2;'><h2 class='m-3' style='color: #003B46;'>No Places in the area.</h2></div>"
}
}