<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Packing List</h1>
    <div class="mb-3">
        <input type="text" class="form-control" id="itemInput" placeholder="Enter an item">
    </div>
    <button class="btn btn-primary" onclick="addItem()">Add Item</button>
    <div id="listContainer">
        <ul id="itemList" class="list-group mt-3" style="list-style: none" ;></ul>
    </div>
</div>
<script src="../../../../todo_list.js"></script>

</body>
</html>
