<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
<div class="container">
    <h1>Weather Search</h1>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="searchInput" placeholder="Enter city name">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="searchButton">Search</button>
            </div>
        </div>
        <div class="input-group mb-3">
            <label for="dateInput" class="form-label">Date and Time (ISO Format):</label>
            <input type="datetime-local" class="form-control" id="dateInput">
        </div>
    </form>
    <div id="weatherData"></div>
</div>

<!-- Add the weather.js script here -->
<script src="../static/weatherAPI.js"></script>

</body>
</html>




